@use '_reset.scss';

// 변수 영역
$color-main: rgb(0, 178, 36);
$color-main-pale: rgba(0, 178, 36, 0.087);
$color-second: rgb(255, 217, 0);
$color-grey: rgba(212, 212, 212, 0.15);
$size-def: 8px;

#warp {
  background-color: $color-grey;

  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  a {
    color: black;
    font-weight: 600;
    font-size: $size-def * 3;
    text-decoration: none;
  }

  header {
    background-color: $color-main;
    padding: 10px 30px;
    height: 60px;
    border-bottom: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 100%;
    background-color: rgb(23, 23, 23);
  }

  .container {
    padding-top: 50px;
    padding: 50px;

    min-height: 100vh;
  }

  .chip {
    background-color: $color-main;
    color: white;
    margin: auto 5px;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
  }

  .listbox-wrap {
  }

  .listbox-content {
    // display: flex;
    // flex-direction: column;
  }

  .ft__title--wrap {
    // padding: 10px;
    display: flex;

    .ft__title--text {
      z-index: 0;
      padding-left: 10px;
      padding-right: 10px;
      height: 20px;
      // padding-bottom: 30px;
      word-wrap: none;
      transition: 1s all ease;
    }

    .ft__title--underline {
      background-color: $color-second;
      // transform: scaleX(0);

      &:hover {
        transform: scaleX(1);
      }
      // position: absolute;
      // left: 0;
      // bottom: 0;
      // width: 100%;
      // height: 50%;
    }
  }
}
