@use '_reset.scss';

// 변수 영역
$main-color: rgb(228, 4, 4);

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  // text-decoration: none !important;
  color: black !important;
}

body {
  // background-color: black;
}

.container-fluid {
  padding-top: 50px;
  padding: 50px;
  // background-color: rgb(229, 229, 229);
  min-height: 100vh;
}

ul {
  text-align: center;
  // border: 1px solid rgb(195, 195, 195);
  max-width: 600px;
  li {
    left: 0;

    right: 0;
    margin: auto;
    // width: 90%;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid grey;

    &:last-child {
      border: none;
    }
  }
}

header {
  background-color: $main-color;
  padding: 10px 30px;
  height: 60px;
  border-bottom: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}
