@use '_reset.scss';

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 10px;
  height: 60px;
  border-bottom: 1px solid grey;
  border-bottom: 1px solid grey;
}
